.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-xl;
}

.title {
  @include title;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.diagram {
  height: 354px;
  width: 100%;
  background-image: url('./icons/diagram.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.CTA {
  @include CTA;
}
