.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-xl;
}

.title {
  @include title;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.diagram {
  width: 100%;
  object-fit: contain;
}

.CTA {
  @include CTA;
}
