@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jakarta';
  src: url('../../public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}
