.wrapper {
  position: relative;
  padding-inline: $space-xl;
}

.progressBar {
  height: 24px;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  &::-webkit-progress-value {
    border-radius: 3px;
    background-color: $color-brand-primary;
  }
}

.progressBar::-webkit-progress-value {
  transition: width 0.2s linear;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Lora;
  font-weight: 500;
}

.white {
  color: white;
}
