.phoneTop {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: fixed;
  display: none;
  width: 387px;
  height: 47px;
  background-image: url('./images/Phone-Top.svg');
  background-color: white;
  border-radius: $corner-lg $corner-lg 0 0;

  z-index: 2;

  @include onTablet {
    display: flex;
  }
}
