.section {
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.subtitle {
  @include subtitle;
}

.list {
  @include list;
}

.listItem {
  @include listItemLayout;

  color: #000;
  font-family: 'Jakarta', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.listItem:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
