.progressBar {
  height: 24px;
  width: 100%;

  -webkit-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  &::-webkit-progress-value {
    border-radius: 3px;
    background-color: $Color-Brand-Primary;
  }
}
