// indentations
$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 24px;
$space-xxxl: 48px;

// colors
$color-ui-600: #222b38;
$color-ui-100: #f1f5fb;
$color-brand-primary: #0062f5;
$color-ui-200: #e1e9f4;
$color-ui-400: #778191;

//corners

$corner-sm: 4px;
$corner-md: 8px;
$corner-lg: 12px;
